apiVersion: batch/v1
kind: Job
metadata:
  name: job-{{job}}
  label: 
    track: train
spec:
  backoffLimit: 1 
  template: 
    spec:
      restartPolicy: Never 
      volumes: 
      - name: dshm
        emptyDir: 
          medium: Memory
      schedulerName: chakra
      containers: 
      - name: train
        image: {{image}}
        volumeMounts: 
        - name: dshm
          mountPath: /dev/shm
        command: ["/bin/bash", "-c"]
        args:
        - |
          nvidia-smi --query-gpu=uuid --format=csv,noheader && echo "||" && python {{script}}
        resources:
          limits:
            cpu: {{cpu}}
            nvidia.com/gpu: {{gpu}}
          requests:
            cpu: {{cpu}}
            nvidia.com/gpu: {{gpu}}