apiVersion: batch/v1
kind: Job
metadata:
  name: job-{{job}}
  label: 
    track: sleep
spec: 
  template: 
    spec: 
      volumes: 
      - name: dshm
        emptyDir: 
          medium: Memory
      schedulerName: chakra
      containers: 
      - name: sleep
        image: gcr.io/deeplearning-platform-release/pytorch-gpu.1-12
        volumeMounts: 
        - name: dshm
          mountPath: /dev/shm
        command: ["/bin/sh", "-c"]
        args:
        - |          
          {{gpu_script}} && sleep {{time}}