apiVersion: batch/v1
kind: Job
metadata:
  name: sleep-{{job}}
spec: 
  template: 
    spec: 
      containers: 
      - name: sleep
        image: gcr.io/deeplearning-platform-release/pytorch-gpu.1-12
        imagePullPolicy: Always
        command: ["/bin/sh", "-c"]
        args:
        - |
          nvidia-smi --query-gpu=index --format=csv,noheader && sleep {{time}}