apiVersion: batch/v1
kind: Job
metadata:
  name: job-{{job}}
  label: 
    track: train
spec: 
  template: 
    spec: 
      volumes: 
      - name: dshm
        emptyDir: 
          medium: Memory
      schedulerName: chakra
      containers: 
      - name: train
        image: {{image}}
        volumeMounts: 
        - name: dshm
          mountPath: /dev/shm
        command: ["/bin/bash", "-c"]
        args:
        - |
          nvidia-smi --query-gpu=uuid --format=csv,noheader && echo "||" && python {{setup_script}}